.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.slider-button {
  background-color: #b4b9c0;
  border: none;
  color: #0c0c0c;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

.slider-button:hover {
  color: #cfcfcf;
}

.slider-button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.slider-navigation {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(209, 209, 209, 0.945);
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-dot.active {
  background-color: #838383;
  transform: scale(1.2);
}

/* .numb {
  font-size: 8rem;
  -webkit-text-stroke: 0.07rem #dc6868;
  color: transparent;
  line-height: 1;
} */
